CP_PolygonPlatform/*.sdf
CP_PolygonPlatform/*.opensdf
CP_PolygonPlatform/ipch
CP_PolygonPlatform/Debug
CP_PolygonPlatformp/Release
CP_PolygonPlatform/CP_PolygonPlatform/Release
CP_PolygonPlatform/CP_PolygonPlatform/Debug